.FullDiv {
  margin-top: 1em;
}

.Sketch {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-around;
}

.Controls {
  display: flex;
  flex-direction: row;
  align-content: center;
}