.FullDiv {
  margin-top: 1em;
  padding: 3em;
  padding-left: 8em;
  padding-right: 8em;
  text-align: center;
}

.Sketch {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-around;
}

.Controls {
  display: flex;
  flex-direction: row;
  align-content: center;
}