{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=v, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  <title>kengru.do</title>
</head>

<body>
  {{ template "form" .Form }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
  name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" />
  email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email" />

  {{ if .Errors.email }}
  <div style="color: red;">{{ .Errors.email }}</div>
  {{ end }}
  <button type="submit">Create Contact</button>
</form>
{{ end }}
