{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/layout.css" />
  {{ template "meta" . }}
  <title>kengru.do</title>
</head>

<body>
  <main>
    <header aria-hidden="true">
      <h2><a href="/">kengru</a></h2>
      <nav role="navigation" aria-hidden="true">
        <ul>
          <li><a href="/category/tech">tech</a></li>
          <li><a href="/category/books">books</a></li>
          <li><a href="/category/thoughts">thoughts</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/now">now</a></li>
          <!-- <li><a href="/search">search</a></li>
          <li><a href="/feed/rss">rss</a></li> -->
        </ul>
      </nav>
    </header>
    {{ template "body" . }}
    <footer>
      <div>made by <a href="https://github.com/kengru">kengru</a> 2024</div>
    </footer>
  </main>
</body>

</html>
{{ end }}
