section {
  margin-bottom: 1rem;
  font-size: 14px;
}

.meta {
  h1 {
    margin-bottom: 0;
  }
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
