.Home {
  height: 100%;
  margin: 20px;
  padding-top: 40px;
}

.Paragraph {
  margin-top: 4em;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 1s ease-out both;
  animation: focus-in-expand 1s ease-out both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
