.App {
  display: flex;
  text-align: center;
}

main {
  margin-top: 50px;
  padding-top: 20px; 
}

.switch {
  position: relative;
}

.switch > div {
  position: absolute;
  width: -webkit-fill-available;
}