@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Normal Roboto */
@font-face {
  font-family: "roboto-n100";
  src: url(./fonts/Roboto-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-n300";
  src: url(./fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-n400";
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-n500";
  src: url(./fonts/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-n700";
  src: url(./fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-n900";
  src: url(./fonts/Roboto-Black.ttf) format("truetype");
}

/* Italic Roboto */
@font-face {
  font-family: "roboto-i100";
  src: url(./fonts/Roboto-ThinItalic.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-i300";
  src: url(./fonts/Roboto-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-i400";
  src: url(./fonts/Roboto-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-i500";
  src: url(./fonts/Roboto-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-i700";
  src: url(./fonts/Roboto-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-i900";
  src: url(./fonts/Roboto-BlackItalic.ttf) format("truetype");
}
